.Layout {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Main {
	width: 100%;
	height: 100%;
	background-color: rgba(235, 240, 246, 0.3);
}
@media only screen and (min-width: 600px) {
	.Main {
		width: 70%;
		height: 90%;
		border-radius: 15px;
		background-color: rgba(235, 240, 246, 0.3);
	}
}