.Header {
	margin: 10px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.Header h2 {
	margin: 0;
}
.Button {
	background-color: #4aa4d0 !important;
	color: #fdfdfd !important;
	font-family: inherit !important;
	border: none;
	border-radius: 10px;
	font-size: 18px !important;
	margin-right: 20px;
	font-weight: bold;
	outline: 0;
	cursor: pointer;
	text-transform: none !important;
}
.Button:hover, .Button:focus {
	letter-spacing: 0.1em;
	background: #fdfdfd !important;
	color: #4aa4d0 !important;
	border:  1px solid #4aa4d0 !important;
}
.Button .Icon {
	vertical-align: bottom;
}
